<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jovian Career </title>

	<style>
		h1 {
			font-size: 40px;
			font-family: Roboto;
			font-weight: normal;
			color:	rgb(100,100,100);
			text-align: center ;
		}
		#banner {
			width: 100%;
			height: 250px;
			object-fit: cover;
		}
		h2 {
			font-size: 32;
			font-family: Roboto;
			font-weight: normal;
			color:	rgb(100,100,100);
			text-align: center ;
		}
		.bodytext {
			font-family: Roboto;
			color: rgb(80, 80, 80);
		}
		#container {
			max-width: 720px;
			margin: 0 auto 0 auto;
		}
		
	</style>
</head>
<body>
	<div id="container">
		<h1>Jovians Careers</h1>
		<img id="banner" src="https://jovian-careers-website.amityr.repl.co/static/banner.jpg" alt="BANNER IMG" >
		<h2>About jovian</h2>
		<p class="bodytext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, iste voluptate non, laborum dolorum, facilis soluta perferendis placeat necessitatibus dolore iusto! Quas ratione quos, quae fuga earum at dicta facere nesciunt. Dignissimos ipsa sapiente, dolores totam sed accusamus quia doloremque repellendus. Harum ipsum quibusdam cum libero iste quas nesciunt ea.</p>
	<h2>Open positions</h2>
		<p class="bodytext">TODO - Show the jobs here</p>
		<div style="text-align:center">
			<buttons>Contact Us</buttons>
		</div>
		<p>Copywrite</p>
	</div>
</body>
</html>